<footer class ="navbar-fixed-bottom">
  <!-- views/partials/footer.ejs -->
  <div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.github.com/cmr624"><i class="fa fa-github fa-2x"></i></a></li>
						<li class="list-inline-item"><a href="https://www.twitter.com/carlos_michael"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/carlosmichael22/"><i class="fa fa-instagram fa-2x"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/carlos-michael/"><i class="fa fa-linkedin fa-2x"></i></a></li>
						<li class="list-inline-item"><a href="mailto:cmr624@nyu.edu" target="_blank"><i class="fa fa-envelope fa-2x"></i></a></li>
					</ul>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Website programmed by Carlos Michael Rodriguez using Node.js, Bootstrap, and Express.</p>
					<p class="h6"><a class="text-green ml-2" href="https://www.carlos-michael.com">Carlos-Michael Rodriguez - 2019</a></p>
				</div>

			</div>
		</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
