<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Carlos Michael</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav">
      <% if (active === "home") { %>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      <% } %>
      <% if (active === "projects") { %>
        <li class="nav-item active">
          <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
      <% } %>
      <% if (active === "games") { %>
        <li class="nav-item active">
          <a class="nav-link" href="/games">Games <span class="sr-only">(current)</span></a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/games">Games</a>
        </li>
      <% } %>
      <% if (active === "more") { %>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link btn btn-primary-outline dropdown-toggle active"role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item btn btn-primary-outline" role="button" href="/recipes">Recipes</a>
              <a class="dropdown-item btn btn-primary-outline" href="/contact">Contact</a>
            </div>
          </div>
        </li>
      <% } else { %>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link btn btn-primary-outline dropdown-toggle"role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item btn btn-primary-outline" role="button" href="/recipes">Recipes</a>
              <a class="dropdown-item btn btn-primary-outline" href="/contact">Contact</a>
            </div>
          </div>
        </li>
      <% } %>

    </ul>
  </div>
</nav>
