<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body>

    <header>
        <% include partials/header %>
    </header>

    <main>
      <div class ="item-header">
        <img class="header-image mebkln" src="/images/mebkln.jpg">
        <h1 class="centered-on-item-header futura">Contact</h1>
      </div>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-sm center-p">
            <a href="https://www.github.com/cmr624"><i class="fa fa-github fa-4x "></i></a>
            <p class="center-p futura">Follow me on Github and check out projects I'm currently working on.</p>
          </div>
          <div class="col-sm center-p">
            <a href="https://www.twitter.com/carlos_michael"><i class="fa fa-twitter fa-4x "></i></a>
            <p class="center-p futura">Follow my Twitter.</p>
          </div>
          <div class="col-sm center-p">
            <a href="https://www.instagram.com/carlosmichael22/"><i class="fa fa-instagram fa-4x "></i></a>
            <p class="center-p futura">Request to follow me on Instagram!</p>
          </div>
          <div class="col-sm center-p">
            <a href="https://www.linkedin.com/in/carlos-michael/"><i class="fa fa-linkedin fa-4x "></i></a>
            <p class="center-p futura">Connect with me on LinkedIn.</p>
          </div>
          <div class="col-sm center-p">
            <a href="https://www.youtube.com"><i class="fa fa-youtube-square fa-4x disabled"></i></a>
            <p class="center-p futura">Visit at my YouTube page for development videos.</p>
          </div>
          <div class="col-sm center-p">
            <a href="mailto:cmr624@nyu.edu" target="_blank"><i class="fa fa-envelope fa-4x "></i></a>
            <p class="center-p futura">Please email me for my CV.</p>
          </div>
        </div>
      </div>
    </main>

    <% include partials/footer %>

  </body>
</html>
