.btn-primary-outline {
  background-color: transparent;
}

html *
{
   color: #000;
   font-family: Roboto Slab;
}
h1 {
  font-family: Futura;
}
h2 > a{
  font-family: Futura;
}

.navbar-brand {
  font-family: Futura;
}


.nav-item > a {
  font-family: Futura;
}
.nav-link, .dropdown-item {
  font-family: Futura !important;
}
.navbar-fixed-bottom * {
  font-family: Futura;
}
.games-title *{
  font-size: 40px !important;
}
.games *{
  font-family: "Futura";
  font-size: 25px;
}

.futura {
  font-family: Futura;
}

.projects * {
  font-family: "Lucida Console", Monaco, monospace;
}
/*font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;*/
body
{
  font-size: 1em !important;
}
.container {
  max-width: 960px;
}
.item-header{
  position: relative;
  text-align: center;
  color: white;
}
.centered-on-item-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-on-item-header-contact{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.header-image{
  width:100%;
  max-height:300px;
  object-fit: cover;

  opacity: .2;
}
.item-image {
  object-position: 0 70%;
}
.mebkln {
  object-position: 0 41% !important;
  left: 30px;
}
.item-sidebar{
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
}

.center-p {
  text-align:center;
}

.limit-size {
  max-height: 600px;
  max-width: 600px;
}
