<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head %>
  </head>
  <body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class ="item-header">
        <img class="header-image mebkln" src="/images/mebkln.jpg">
        <h1 class="centered-on-item-header futura">Recipes</h1>
      </div>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
          <div class="col-xs-2">
              <a href="#" class="d-block mb-4 h-100">
                <div class="imgwrapper">
                  <img src="http://placehold.it/300x300" class="img-thumbnail img-fluid img-responsive">
                </div>
              </a>
          </div>
        </div>
      </div>
    </main>

    <% include ../partials/footer %>

  </body>
</html>
